@import 'variable.css';
@import 'reset.css';

body {
    background-color: var(--main-background);

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}


.container-calc {
    width: 60%;
    height: 80vh;


    padding: 2rem;
}

.header-calc {

    height: 10%;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.side-left {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;

    height: 70px;
}

span {
    text-transform: uppercase;
    letter-spacing: 2px;

    margin-top: 15px;

    font-size: 13px;
}

.toggle-theme {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 35%;

    margin-right: 4px;
}

ul {

    display: flex;
    flex-direction: row;
}

ul li:nth-child(2) {
    margin: 0 1.50rem 0 1.50rem;
}

li {
    font-size: .8rem;

    margin-bottom: .1rem;
}

.btn-group {
    display: flex;
    align-items: center;

    width: 80px;
    height: 20px;

    padding: 4px;

    background-color: var(--toggle-background-keypad-background);

    border-radius: 20px;
}

.btn-theme1 {
    width: 25%;
    height: 100%;
    border-radius: 50%;

    border: none;

    background-color: var(--key-background-toggle);
}

.screen {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 2rem;

    height: 5vh;

    border-radius: 12px;

    background-color: var(--screen-background);

    padding: 3rem;

}

.values {
    font-size: 2.5rem;
}